// COLORS STYLE PAGE
// sunflower yellow --> color: #FFD300; rgb(255,211,0);
// white            --> color: white;
// almost black     --> color: #171B0E; rgb(23, 27, 14);
// pine             --> color: #2b331b; rgb(43, 51, 27);
// black            --> color: #0F0F0F; rgb(15, 15, 15);

$colorYellow: #FFD300;
$colorWhite: white;
$colorAlmstBlck: #171B0E;
$colorPine: #2B331B;
$colorBlack: #0F0F0F;