// GLOBAL STYLES 
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;   
}

a {
    text-decoration: none;
    color:inherit;
}

html {
    font-size: 62.5%;
    color: $colorWhite;
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6, button, nav, .button {
    font-family: $fontJose;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p, form, .blogSideBarList li {
    font-family: $fontBarlow;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 1px;
    padding-bottom: 35px
}

.wrapper {
    max-width: 1400px;
    width: 98%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

// GLOBAL HEADER STYLES
header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    width: 100%;
}

// BOX SHADOW CREATION THROUGH USE OF MIXINS
.imgBoxShadowRight {
    @include imgBoxShadow(20px);
}

.imgBoxShadowLeft {
    @include imgBoxShadow(-20px);
}

// BUTTON CREATION THROUGH USE OF MIXINS
.button {
    @include button();
}
.button:hover,
.button:focus {
    color: $colorWhite;
    background-color: $colorBlack;
    transition: all 0.3s;
}
