// FONTS
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Barlow', sans-serif;

// COLORS 
// sunflower yellow --> color: #FFD300; rgb(255,211,0);
// white            --> color: white;
// almost black     --> color: #171B0E; rgb(23, 27, 14);
// pine             --> color: #2b331b; rgb(43, 51, 27);
// black            --> color: #0F0F0F; rgb(15, 15, 15);

$fontJose: 'Josefin Sans', sans-serif;
$fontBarlow: 'Barlow', sans-serif;

$colorYellow: #FFD300;
$colorWhite: white;
$colorAlmstBlck: #171B0E;
$colorPine: #2B331B;
$colorBlack: #0F0F0F;

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;   
    a {
        text-decoration: none;
        color:inherit;
    }
}

html {
    font-size: 62.5%;
    color: $colorWhite;
}

h1, h2, h3, h4, h5, h6, button, nav {
    font-family: $fontJose;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    font-family: $fontBarlow;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.wrapper {
    max-width: 1400px;
    width: 98%;
    margin: 0 auto;
}

/* global header styles */
header {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
}

.imgBoxShadowRight {
    box-shadow: 20px 20px $colorYellow;;
}

.imgBoxShadowLeft {
    box-shadow: -20px 20px $colorYellow;;
}