//--------- BLOG PAGE STYLES ---------
// HEADER STYLES 
.headerBlog {
    background-image: url(../assets/blog-header.jpg);
}

// MAIN GRID CONTAINER 
.blogGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 75px;
    background-color: $colorPine;
}

// START OF SIDE BAR STYLES 
.blogSideBarImg {
    margin-top: 50px;
    height: 433px;
    width: 100%;
    img {
        box-shadow: 35px 0 $colorAlmstBlck;
    }
}

.blogSideBarContent {
    margin-left: 100px;
    background-color: $colorAlmstBlck;
    padding: 0 25px;
    width: 390px;
    .blogSideBarList {
        padding-bottom: 30px;
        li {
            list-style-type: disc;
            list-style-position: inside;
            padding: 0;
        }
    }
}
// END OF SIDE BAR STYLES 


// START OF BLOG CONTENT STYLES 
.blogContent {
    grid-column: 2 / span 3;
    h2 {
        color: $colorYellow;
    }
    .blogContentBorder {
        padding: 60px 0 80px 60px;
        border-left: 5px solid $colorYellow;
        border-bottom: 5px solid $colorYellow;
    }
    .blogContentImg img {
        margin-bottom: -150px;
        text-align: right;
        width: 100%;
        position: relative;
        bottom: 200px;
        right: 45px;
    }
    .blogContentText {
        padding-right: 60px;
    }
}
// END OF BLOG CONTENT STYLES 

// START OF BLOG COMMENT STYLES
.blogComments {
    padding: 0 80px;
    .blogCommentImg {
        width: 15%;
        img {
            width: 100%;
            max-width: 130px;
        }
    }
    .blogCommentContent {
        padding-left: 20px;
        width: 80%;
    }
}

// BOLDING OF DATE ABOVE COMMENT TEXT 
.blogComments p:nth-of-type(1) {
    color: $colorYellow;
    font-weight: bold;
    padding-bottom: 10px;
}
// END OF BLOG COMMENT STYLES

// FORM STYLING FOUND IN _forms.scss 

// END OF CONTENT STYLES 
