//--------- HOME PAGE STYLES --------
// HEADER STYLES FOR HOME PAGE
.headerMain {
    background-image: url(../assets/home-header.jpg);
    background-position: left;
    span {
        color: $colorAlmstBlck;
        background-color: $colorWhite;
        padding-top: 15px;
    }
}

.mainHomeImg {
    position: relative;
    text-align: right;
    height: 510px;
    bottom: 20px;
    min-width: 420px;
}
// END OF HEADER STYLES FOR HOME PAGE


// START OF MAIN SECTION STYLES - location/community/blog/getintouch
.informationSec {
    background-color: $colorPine;
    .gridContainer {
        padding: 200px 0 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
        gap: 20px;
        overflow: auto;
    }
    .informContentContainer {
        width: 90%;
        p {
            padding-top: 35px;
        }
    }

    // Icon Styles
    .informIconContainer {
        width: 10%;
    }

    // creation of yellow circle around icon
    .iconCircle {
        width: 45px;
        height: 45px;
        background-color: $colorYellow;
        padding-top: 10px;
        border-radius: 100%;
        font-size: 2.5rem;
        color:$colorAlmstBlck;
        text-align: center;
    }
}
// END OF MAIN SECTION STYLES - location/community/blog/getintouch


// START OF BLOG SECTION STYLES - best burgers / try something ne
.blogSection {
    background-color: $colorAlmstBlck;
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 15%;
        row-gap: 20px;
    }
    .gridItem1 img {
        width:100%;
        position: relative;
        bottom: 50px;
        min-width: 400px;
    }
    .gridItem2 {
        h5 {
            padding-top: 50px;
        }
        p {
            padding-right: 150px;
        }
    }
    .gridItem3 {
        text-align: right;
        p {
            padding-left: 150px;
        }
    }
    .gridItem4 {
        text-align: right;
        img {
            width: 100%;
            position: relative;
            top: 20px;
            min-width: 400px;
        }
    }
}
// END OF BLOG SECTION STYLES - best burgers / try something ne


// START OF CONTEST SECTION & ARTICLE SECTION
.contestSection, .articleSection { 
    background-color: $colorPine;
    text-align: center;
    .wrapper {
        padding: 100px 0;
    }
    .button {
        @include button($colorBlack, $colorWhite)
    }
    .button:hover {
        color: $colorAlmstBlck;
        background-color: $colorYellow;
    }

    // flex container for article section
    .flexContainer {
        flex-wrap: wrap;
        justify-content: space-evenly;
        .articleImg {
            flex-basis: 30%;
            align-self: center;        
            img {
                width: 100%;
                height: auto;
            }
        }
        .articleContent {
            flex-basis: 60%;
            text-align: left;
            h3 {
                line-height: normal;
            }
            p {
                padding-top: 15px;
            }
        }
    }
}
// END OF CONTEST SECTION & ARTICLE SECTION


// START OF BANNER SECTION
.bannerSection {
    background-color: $colorPine;
    .bannerImg {
        width: 100%;
    }
}
// END OF BANNER SECTION


// START OF GALLERY SECTION
.gallerySection {
    background-color: $colorAlmstBlck;
    .wrapper {
        padding: 100px 0;
    }
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        img {
            width: 100%;
        }
    }
}
// END OF GALLERY SECTION