/* HEADER STYLES FOR HOME PAGE */
.headerMain {
    background-image: url(../assets/home-header.jpg);
    h1 {
        text-transform: uppercase;
        font-size: 6.9rem;
        font-weight: 600;
        width: 30%;
        margin-top: 50px;
        span {
            color: $colorAlmstBlck;
            background-color: $colorWhite;
            padding-top: 5px;
        }
    }  
}

.mainHomeImg {
    position: absolute;
    bottom: -15px;
    right: 0;
}
/* END OF HEADER STYLES FOR HOME PAGE */

/* START OF MAIN SECTION STYLES */
.informationSec {
    background-color: $colorPine;
    h2 {
        text-transform: uppercase;
        font-size: 4.5rem;
        font-weight: 400;
    }
}

.gridContainer {
    padding: 200px 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    gap: 20px;
    overflow: auto;
}

h2 {
    width: 100%;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.informContentContainer {
    width: 90%;
    p {
        padding: 35px 0;
    }
}

.informIconContainer {
    width: 10%;

}

.iconCircle {
    width: 45px;
    height: 45px;
    background-color: $colorYellow;
    padding-top: 10px;
    border-radius: 100%;
    font-size: 2.5rem;
    color:$colorAlmstBlck;
    text-align: center;
}

/* blog section styles */
.blogSection {
    background-color: $colorAlmstBlck;
    h5 {
        font-weight: 400;
        font-size: 4rem;
        line-height: 5.8rem;
        letter-spacing: 1px;
    }
    .flexContainer{
        justify-content: space-between;
    }
}

.flexContainer li {
    flex: 1 0 50%;
}

.blogContentOne {
    text-align: left;
}

.blogContentTwo {
    text-align: right;

}