html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 6.9rem;
  font-weight: 600;
  width: 20%;
  margin-top: 50px;
}

h2 {
  font-size: 4.5rem;
  font-weight: 400;
  width: 100%;
}

h3 {
  font-size: 4.5rem;
  line-height: 9.8rem;
  font-weight: 400;
  color: #FFD300;
  width: 100%;
}

h5 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 1px;
  padding-top: 70px;
}

h6 {
  color: #FFD300;
  font-size: 2.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.8px;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  color: white;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, button, nav, .button {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p, form, .blogSideBarList li {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
  padding-bottom: 35px;
}

.wrapper {
  max-width: 1400px;
  width: 98%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  width: 100%;
}

.imgBoxShadowRight {
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
}

.imgBoxShadowLeft {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}

.button {
  background-color: #FFD300;
  color: #171B0E;
  padding: 16px 16px 10px 16px;
  font-size: 22.4px;
  text-align: center;
}

.button:hover,
.button:focus {
  color: white;
  background-color: #0F0F0F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav .sideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  list-style: none;
  padding: 75px 0;
  text-align: center;
}

nav li a {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 20px;
}

nav li a:hover, nav li a:focus {
  color: #FFD300;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navCurrentPage {
  -webkit-box-shadow: 0 21px 0 -18px #FFD300;
          box-shadow: 0 21px 0 -18px #FFD300;
}

.fas,
.fa-bars {
  font-size: 4rem;
}

input[type="checkbox"]:checked ~ ul.sideMenu {
  right: 0;
}

input[type="checkbox"]:checked + label[for="toggle"] {
  right: -30%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="checkbox"] {
  display: none;
}

label[for="toggle"] {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: -1;
}

fieldset {
  border: none;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 50px 200px;
      grid-template-rows: 50px 200px;
  gap: 20px;
  padding: 0 80px;
}

form input {
  background-color: #2B331B;
  color: white;
}

form #name, form #email {
  border: none;
  border-bottom: 2px solid #FFD300;
  padding-left: 25px;
}

form #message {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  border: 2px solid #FFD300;
  padding: 0 0 150px 25px;
}

form .formSubmit {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-bottom: 50px;
}

.contactForm {
  width: 60%;
  background-color: #171B0E;
  position: relative;
  bottom: 150px;
  right: 50px;
  padding-top: 50px;
}

.contactForm input[type=text], .contactForm input[type=email] {
  background-color: #171B0E;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

footer p {
  padding: 20px 0;
}

.headerMain {
  background-image: url(../assets/home-header.jpg);
  background-position: left;
}

.headerMain span {
  color: #171B0E;
  background-color: white;
  padding-top: 15px;
}

.mainHomeImg {
  position: relative;
  text-align: right;
  height: 510px;
  bottom: 20px;
  min-width: 420px;
}

.informationSec {
  background-color: #2B331B;
}

.informationSec .gridContainer {
  padding: 200px 0 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  gap: 20px;
  overflow: auto;
}

.informationSec .informContentContainer {
  width: 90%;
}

.informationSec .informContentContainer p {
  padding-top: 35px;
}

.informationSec .informIconContainer {
  width: 10%;
}

.informationSec .iconCircle {
  width: 45px;
  height: 45px;
  background-color: #FFD300;
  padding-top: 10px;
  border-radius: 100%;
  font-size: 2.5rem;
  color: #171B0E;
  text-align: center;
}

.blogSection {
  background-color: #171B0E;
}

.blogSection .gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 15%;
          column-gap: 15%;
  row-gap: 20px;
}

.blogSection .gridItem1 img {
  width: 100%;
  position: relative;
  bottom: 50px;
  min-width: 400px;
}

.blogSection .gridItem2 h5 {
  padding-top: 50px;
}

.blogSection .gridItem2 p {
  padding-right: 150px;
}

.blogSection .gridItem3 {
  text-align: right;
}

.blogSection .gridItem3 p {
  padding-left: 150px;
}

.blogSection .gridItem4 {
  text-align: right;
}

.blogSection .gridItem4 img {
  width: 100%;
  position: relative;
  top: 20px;
  min-width: 400px;
}

.contestSection, .articleSection {
  background-color: #2B331B;
  text-align: center;
}

.contestSection .wrapper, .articleSection .wrapper {
  padding: 100px 0;
}

.contestSection .button, .articleSection .button {
  background-color: #0F0F0F;
  color: white;
  padding: 16px 16px 10px 16px;
  font-size: 22.4px;
  text-align: center;
}

.contestSection .button:hover, .articleSection .button:hover {
  color: #171B0E;
  background-color: #FFD300;
}

.contestSection .flexContainer, .articleSection .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contestSection .flexContainer .articleImg, .articleSection .flexContainer .articleImg {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contestSection .flexContainer .articleImg img, .articleSection .flexContainer .articleImg img {
  width: 100%;
  height: auto;
}

.contestSection .flexContainer .articleContent, .articleSection .flexContainer .articleContent {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: left;
}

.contestSection .flexContainer .articleContent h3, .articleSection .flexContainer .articleContent h3 {
  line-height: normal;
}

.contestSection .flexContainer .articleContent p, .articleSection .flexContainer .articleContent p {
  padding-top: 15px;
}

.bannerSection {
  background-color: #2B331B;
}

.bannerSection .bannerImg {
  width: 100%;
}

.gallerySection {
  background-color: #171B0E;
}

.gallerySection .wrapper {
  padding: 100px 0;
}

.gallerySection .gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.gallerySection .gridContainer img {
  width: 100%;
}

.headerBlog {
  background-image: url(../assets/blog-header.jpg);
}

.blogGridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 75px;
          column-gap: 75px;
  background-color: #2B331B;
}

.blogSideBarImg {
  margin-top: 50px;
  height: 433px;
  width: 100%;
}

.blogSideBarImg img {
  -webkit-box-shadow: 35px 0 #171B0E;
          box-shadow: 35px 0 #171B0E;
}

.blogSideBarContent {
  margin-left: 100px;
  background-color: #171B0E;
  padding: 0 25px;
  width: 390px;
}

.blogSideBarContent .blogSideBarList {
  padding-bottom: 30px;
}

.blogSideBarContent .blogSideBarList li {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
}

.blogContent {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
}

.blogContent h2 {
  color: #FFD300;
}

.blogContent .blogContentBorder {
  padding: 60px 0 80px 60px;
  border-left: 5px solid #FFD300;
  border-bottom: 5px solid #FFD300;
}

.blogContent .blogContentImg img {
  margin-bottom: -150px;
  text-align: right;
  width: 100%;
  position: relative;
  bottom: 200px;
  right: 45px;
}

.blogContent .blogContentText {
  padding-right: 60px;
}

.blogComments {
  padding: 0 80px;
}

.blogComments .blogCommentImg {
  width: 15%;
}

.blogComments .blogCommentImg img {
  width: 100%;
  max-width: 130px;
}

.blogComments .blogCommentContent {
  padding-left: 20px;
  width: 80%;
}

.blogComments p:nth-of-type(1) {
  color: #FFD300;
  font-weight: bold;
  padding-bottom: 10px;
}

.headerContact {
  background-image: url(../assets/contact-header.jpg);
  min-height: 60vh;
}

.headerContact h1 {
  width: 100%;
}

.infoSocialSec {
  background-color: #2B331B;
}

.infoSocialSec .flexContainerSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoSocialSec .infoSocials {
  padding-top: 100px;
  width: 30%;
}

.infoSocialSec .infoSocials .infoSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infoSocialSec .infoSocials .infoSocialIcons a {
  font-size: 2rem;
  padding-right: 20px;
  color: #FFD300;
}

.infoSocialSec .infoSocials p:nth-of-type(1) {
  padding: 20px 0;
}

.infoSocialSec .infoSocials p {
  padding: 0;
}

@media (max-width: 500px) {
  .sideMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 10;
    width: 30%;
    right: -30%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .sideMenu li {
    padding: 20px 0;
    text-align: right;
  }
  label[for="toggle"] {
    z-index: 10;
  }
  .mainHomeImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
  }
  .mainHomeImg img {
    height: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  h1 {
    font-size: 4rem;
    padding: 20px 0 0 20px;
  }
  h1 .mainHeadSpan {
    padding-top: 10px;
  }
  .gallerySection .wrapper {
    padding: 0;
  }
  .gallerySection .gridContainer {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .gallerySection li {
    padding: 40px;
  }
}

@media (max-width: 850px) {
  .mainHomeImg {
    height: 500px;
  }
  .mainHomeImg img {
    width: 100%;
  }
  .informationSec .gridContainer {
    padding-top: 200px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .informationSec .gridContainer h2, .informationSec .gridContainer p {
    width: 95%;
    padding-left: 20px;
    padding-top: 0;
  }
  .blogSection .gridContainer {
    padding-top: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .blogSection .gridContainer h5 {
    padding-top: 0;
    font-size: 3.3rem;
  }
  .blogSection .gridContainer .gridItem2, .blogSection .gridContainer .gridItem3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .blogSection .gridContainer p {
    padding-right: 0;
    padding-left: 0;
  }
  .contestSection h3 {
    font-size: 3.5rem;
  }
  .articleSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .articleSection .flexContainer .articleImg {
    width: 50%;
  }
  .articleSection .flexContainer h3 {
    padding-top: 50px;
    font-size: 3.5rem;
  }
  .articleSection .flexContainer .articleContent {
    text-align: center;
  }
  form {
    -ms-grid-rows: 50px 50px 200px;
        grid-template-rows: 50px 50px 200px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  form #name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  form #email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  form #message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  form .formSubmit {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media (max-width: 1050px) {
  .flexContainerSocials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexContainerSocials .contactForm {
    margin: 200px auto 0;
    width: 90%;
    right: 0;
  }
  .flexContainerSocials .infoSocials {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  .flexContainerSocials .infoSocialIcons {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1150px) {
  .blogGridContainer {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .blogGridContainer .blogSideBar {
    margin-bottom: 150px;
  }
  .blogGridContainer .blogSideBar .blogSideBarContent {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .blogGridContainer .blogSideBar .blogSideBarImg {
    text-align: center;
    padding-bottom: 40px;
  }
  .blogGridContainer .blogSideBar .blogSideBarImg img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogGridContainer .blogContent {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .blogGridContainer .blogContent .blogContentImg {
    text-align: center;
  }
  .blogGridContainer .blogContent .blogComments {
    padding: 0 40px;
  }
  .blogGridContainer .blogContent .blogComments .blogCommentImg {
    text-align: center;
  }
}
